body{

background: url('fondo.jpg') no-repeat;
background-size: cover;

}
.navbar-collapse .container .nav{
	background: linear-gradient(to right, #00FFFF, #999999);
	margin-left: -800px;
	line-height: 2em;
	height: 35px;
	position: absolute;
	width: 1500px;
}


.jumbotron{
background: url('imagen-jumbotron.png')no-repeat;
background-size: cover;
}

.jumbotron .container1{
  -webkit-background-clip: text;

	padding-top: 20px;
	padding-left: 40px;
	font-size: 20px;
}

.et_pb_text{
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	font-style: normal;
	color: #003c50;
	text-align: center;
}

.container2{
	margin-top: 60px;
	font-family: 'Arial', cursive;
}


#titulo1{
	padding: 10px, 5px;
	border-radius: 17px;
	border: 3px solid #000000;
	background: linear-gradient(to right, cyan,white);
	border-color: rgba(21,11,11, 0.2);
}


#primera-col{
	border-radius: 17px;
	border: 3px solid #000000;
}


#titulo2{
	padding: 10px, 5px;
	border-radius: 17px;
	border: 3px solid #000000;
	background: linear-gradient(to right, #1E90FF ,white);
	border-color: rgba(21,11,11, 0.2);
}


#segunda-col{
	border-radius: 17px;
	border: 3px solid #000000;
	padding-bottom: 45px;
}


#titulo3{
	padding: 10px, 5px;
	border-radius: 17px;
	border: 3px solid #000000;
	background: linear-gradient(to right, #000080 ,white);
	border-color: rgba(21,11,11, 0.2);
}


#tercera-col{
	border-radius: 17px;
	border: 3px solid #000000;
	margin-top: 25px;
	padding-bottom: 20px;
}


#titulo4{
	padding: 10px, 5px;
	border-radius: 17px;
	border: 3px solid #000000;
	background: linear-gradient(to right, #0000CD ,white);
	border-color: rgba(21,11,11, 0.2);
}


#cuarta-col{
	margin-top: 25px;
	border-radius: 17px;
	border: 3px solid #000000;
	padding-bottom: -10px;
}


#titulo5{
	padding: 10px, 5px;
	border-radius: 17px;
	border: 3px solid #000000;
	background: linear-gradient(to right, #00CED1 ,white);
	border-color: rgba(21,11,11, 0.2);
}



#quinta-col{
	margin-top: 0px;
	border-radius: 17px;
	border: 3px solid #000000;
	padding-bottom: 45px;
}



p{
	padding-top: 10px;
}
